/* color palette
#2B2042 - dark blue
#8099AE - light blue
#EDF2F4 - blue/white
#EF233C - red
 */


 html {
    box-sizing: border-box;
}

 header,footer {
    /* background: #2B2042; */
    background-color: rgb(110, 133, 151);

    color: #8099AE;
 
   
   
   
}

header {
    color:#EDF2F4;
   
 
}


h2 {
    font-size: 40px;
    margin-top: 0;
    /* background: #2B2042; */
    /* color:#8099AE; */
    color:#2B2042;
    margin-left: 16px;
    margin-top: 20px;
    margin-bottom: 12px;

}


section h2, {
    color:#2B2042;
    margin:0;
    /* background: #2B2042; */

  
}

#input1 {
    font-size: 16px;
    width: 810px;
    border:solid rgba(255, 255, 255, 0.829)

}

#input2 {
    font-size: 16px;
    width: 810px;
    border:solid rgba(255, 255, 255, 0.829)

}

#input3 {
    font-size: 16px;
    height: 200px;
    width: 810px;
    border:solid rgba(255, 255, 255, 0.829)

}

#submit {
    background: #2B2042;
    color: #8099AE;
    padding: 8px 30px;
    border: none;
    font-size: 20px;
    margin-bottom: 10px;
}
    

#con {
    padding-left: 20px;

}



h1 {
    font-size: 40px;
    float:left;
    margin-left: 1px;
    margin-top: 50px;

    
}

h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin:0;
    height: 100%;
    background-color: #8099AE;
 
 
}


.content-wrap h1 {
    /* background: #2B2042; */
    /* margin-left: 15px; */
    /* position: -webkit-sticky; */
    position: sticky;
    /* top: 0; */
    background-color: #2B2042;
    height: 132px;
    padding: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: bottom;
    
}

.content-wrap {
    max-width: 950px;
    overflow: auto;
    width: 850px;
    margin: 0 auto;
    /* background: #2B2042; */
    height: 80px;
}

.content-wrap-p {
    max-width: 950px;
    overflow: auto;
    width: 850px;
    margin: 0 auto;
    /* background: #2B2042; */
    height: 80px;
}

.content-wrap-p h1 {
    position: sticky;
    background-color: #2B2042;
    height: 210px;
    padding: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
}

.content-wrap-c {
    max-width: 950px;
    overflow: auto;
    width: 850px;
    margin: 0 auto;
    /* background: #2B2042; */
    height: 80px;
}

.content-wrap-c h1 {
    position: sticky;
    background-color: #2B2042;
    height: 210px;
    padding: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
}



a {
    color: #EF233C;
}

.page-nav a {
   /*     display: inline-block; */

   
    /* width: 180px; */
    margin-left: 30px;
    float: right;
    /* /* margin-top: 50px; */
    padding: 30px; 
    
}


/* .p-page-nav a {
    width: 180px;
    margin-right: -160px;
    float: right;
    margin-top: 50px;
    padding: 30px;

} */

.img1 {
    float: left;
    height: 150px;
    width: 250px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.body-content {
    background-color: rgb(110, 133, 151);
    width: 850px;
    margin: 0 auto;
    margin-top: 60px;
    border: 1px solid #8099AE;
    margin-bottom: 500px;

}

.body-content p {
    font-size: 20px;
    line-height: 2;
    margin-right: 5px;
    margin-left: 20px;
}

.body-content-p {
    background-color: rgb(110, 133, 151);
    width: 850px;
    margin: 0 auto;
    margin-top: 60px;
    border: 1px solid #8099AE;
    margin-bottom: 330px;
    padding-bottom:120px;

}

.pimg {
    margin: 20px;
   
}


/* #stick h4 {
    position: sticky;
    background: #2B2042;
    margin: inline block;
   
} */

.body-content-c {
    background-color: rgb(110, 133, 151);
    width: 850px;
    margin: 0 auto;
    margin-top: 60px;
    border: 1px solid #8099AE;
    margin-bottom: 375px;
   

}

footer {
    text-align: center;
}



.footer-wrap {
    text-align: center;
    background: #2B2042;
}

}
.footer-wrap-p {
    text-align: center;
    background: #2B2042;
}


}
.footer-wrap-c {
    text-align: center;
    background: #2B2042;
    height:2px;
   

}

