html {
    width:960px;
    margin:0 auto;
}

h1 {

background-color:orange;
height:40px;
width:50%;


}

ul, a {
   background-color: orange;
    height:60px;
    width:100%;
    font-family: 'Georgia', Times, Times New Roman, serif ;

    
}

.pimg:hover {
    background-color: lightblue;
    height: 0px;
    width:0px;
    border-bottom:2px solid red ;
   

}

.pimg {
    background-color:lightblue;
    color:lightblue;
}


a:hover {
    background-color:red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

#name {
    font-size: 50px;
    background-color: rgb(236, 100, 46);
    margin-left: 60px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#img1 {
    height:100px;
    width: 110x;
    float:left;
}

body {
    background: rgb(143, 140, 140);
}

#about {
    background-color: lightblue;
    height: 300px;
    width: 80%;
    margin-left: 60px;
    border: solid black 1px;
    padding-left: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

footer {
    background-color: orange;
    height:20px;
    width:100%;
}

#contact {
    background-color: lightblue;
    height: 300px;
    width: 80%;
    margin-left: 60px;
    border: solid black 1px;
    padding-left: 10px;
}


#input1 {
   
    width:300px;
}

#input2 {

    width:300px;
}

#input3 {
    height: 80px;
    width:300px;
}

#submit {
    background-color: rgb(236, 100, 46);
    color: black;
    

}





#portfolio {
    background-color: lightblue;
    height: 300px;
    width: 80%;
    margin-left: 60px;
    border: solid black 1px;
    padding-left: 10px;

}

